<p id="notice"><%= notice %></p>
<%= render 'shared/carousel' %>


  <tbody>
  <br/>
  <div class="container">
  <div class="row">
    <div class="col-md-6">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114.7311315579796!2d39.1935594151895!3d38.67804676744919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4076c046a5fcfb49%3A0x7155d529c29fb2bc!2zw5xuaXZlcnNpdGUgTWFoYWxsZXNpLCBGxLFyYXQgw5xudi4sIDIzMjAwIEVsw6J6xLHEnyBNZXJrZXovRWxhesSxxJ8!5e0!3m2!1str!2str!4v1512629692379" frameborder="0"
              style="border:0" allowfullscreen></iframe>
       </div>
     </div>
     <div class="col-md-6">
     <%= render 'iletisims/form'%>
     <br/>
<h6 class="text-center"><p>Adres : 4708 sk no:55 Günaltay mah.Karabağlar/İZMİR</p>
<p>Cep Telefonu : 05548384350</p></h6>
     </div>
    </div>
    </div>
  </tbody>
</table>



